<!DOCTYPE html>
<html>  

{% include "head.html" %}

<body>

    {% include "header.html" %}
    {% if messages %}
       {% for  message in messages %}

       <div class="alert alert-{{message.tags}}" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong> {{ message }}</strong> 
      </div>
      <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 6000);
        
        </script>
      {% endfor %}
    {% endif %}


    {% block content %}
    {% endblock content %}

    
    {% include "footer.html" %}
    {% include "scripts.html" %}

</body>


</html>