{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

body{
background-color:#ccc
}

	#contact-form {
  border-radius: 15px;
  background-color: #ccefff;
  padding:50px;
  margin-left:250px;
  margin-bottom:5px;
}

P{
font-family:tahoma;
}

</style>

<!--Section: Contact v.2-->
<div style="background:  background-color:#ccc;">
<div>
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4"style="color:#000;font-weight:'bold' ;font-family: 'Verdana', sans-serif;">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5" style="color:#000;font-weight:bold ;font-family: 'Verdana', sans-serif;">Do you have any questions?<br>Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="." method="POST">
                {% csrf_token %}

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left"></div>
                <button class="button"  style=" color:#fff; border-radius: 5px; background-color: #00aeff; padding: 5px 15px; ">Send</button>

            </form>

            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker-alt fa-2x"></i>
                    <p> Abidjan,Côte d'Ivoire </p>
                </li>

                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>Phone: (+225) 78-44-35-54</p>


                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>Email: labimhotep@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>

<!--Section: Contact v.2-->

{% endblock content %}
