{% load static %}
<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <h6 class="text-white">OPENSOURCE UNIVERSITY</h6>
          </div>
          <div class="contact-details">
            <p>Phone: (+225) 78-44-35-54  / (+225) 45 33 50 24</p>
            <p>Email:  labimhotep@gmail.com <a href="mailto:labimhotep@gmail.com"></a></p>
            <ul class="social-menu">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a href="#">My Account</a></li>
              <li> <a href="#">Add Listing</a></li>
              <li> <a href="#">Pricing</a></li>
              <li> <a href="#">Privacy &amp; Policy</a></li>
            </ul>
            <ul class="list-unstyled">
              <li> <a href="#">Our Partners</a></li>
              <li> <a href="#">FAQ</a></li>
              <li> <a href="#">How It Works</a></li>
              <li> <a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="latest-posts"><a href="#">
              <div class="post d-flex align-items-center">
  
                <div class="title"><strong> </strong><span class="date last-meta">  </span></div>
              </div></a><a href="#">
              <div class="post d-flex align-items-center">
                
                <div class="title"><strong> </strong><span class="date last-meta"> </span></div>
              </div></a></div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <style>
              .col-md-6 {
              text-align: right;
              }
              .l{
              text-align:right;
              }
            </style>
            <p> Empowered by CENTRE CHEIKH ANTA DIOP </p><br>
            <div class="l"><p>"In Open source and Free Software We Trust"</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </footer>