<header class="header">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
      <div class="search-area">
        <div class="search-area-inner d-flex align-items-center justify-content-center">
          <div class="close-btn"><i class="icon-close"></i></div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <form action="{% url 'search'%}">
                <div class="form-group">
                  <input type="search" name="q" id="search" placeholder="What are you looking for?">
                  <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- Navbar Brand -->
        <div class="navbar-header d-flex align-items-center justify-content-between">
          <!-- Navbar Brand --><a href="/" class="navbar-brand">OPENSOURCE UNIVERSITY</a>
          <!-- Toggle Button-->
          <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span></span><span></span><span></span></button>
        </div>
        <!-- Navbar Menu -->

        <style>
          li a:hover:not(.active) {
          background-color: rgb(0, 168, 235);
          }
        
         a {
           font-family: Tahoma, Geneva, Verdana, sans-serif;
         }
        </style>

        <div id="navbarcollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item"><a href="/blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item"><a href="{% url 'contact_us' %}" class="nav-link">Contact</a>
            </li>
            <li class="nav-item"><a href="/post" class="nav-link"></a>
            </li>
          </ul>
          <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
          <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">FR</a></ul>
        </div>
      </div>
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
          {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a>
            </li>
           {% endif %}
        </ul>
    </nav>
  </header>