{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style=" background-color:#ccc;">
<div class="content-section">
    <div class="container">
        <div class="col-sm-6">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"><h1 style="color: rgb(6, 66, 114); font-family: 'Tahoma', Geneva, Verdana, sans-serif;"  >Sign In</h1></legend>
                               {{ form|crispy}}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="border-top pt-3">
        <small class="text-muted" style="font-weight:bold ;  font-size: medium;">
            <style>
            a:hover {color: rgb(6, 138, 247);}
            </style>
            Need An Account? <a href=" {% url 'register' %} ">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}