<h2 style="font-weight:800; font-family: Verdana, Geneva, Tahoma, sans-serif ; font-style:inherit; color:rgba(114, 98, 4, 0.979);"> You have been logged out </h2>
    <div class="border-top pt-3">
        <small class="text-muted" style="font-weight:bold ; font-size: medium;" >
            <style>
                a:hover {color: rgb(6, 138, 247);}
                </style>
        <a href=" {% url 'login' %} ">Log In Again</a>
        </small>
    </div>
