{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

 <style>
 .panel-body {
 background-color: #ccefff;
 padding:50px;
 margin-left:100px;
 margin-bottom:15px;
 margin-bottom:15px;
 border: 1px solid #ccc;
 border-radius: 4px;
}
a:hover {color: rgb(6, 138, 247);
}
</style>

<div style=" background-color:#ccc;">

<div class="content-section">
        <div class="col-sm-6">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"><h2 style="color: rgb(6, 66, 114);font-weight:'bold' ;font-family: 'Verdana', sans-serif;"  >Join Us Today</h1></legend>
                               {{ form|crispy}}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <div class="border-top pt-3">
        <small class="text-muted" style="color:#ss000;font-weight:bold ; font-size: medium;" >
            Already Have An Account? <a class="ml-2" href=" {% url 'login' %} ">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}


    